<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/pic.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="../../public/js/app.js"></script>
</head>
<header>
    {{>header}}
</header>
<body>
    <div class="main">
        <p>This site was create by Thiago Calegário. It uses data from mapbox.com and darksky.net</p>
        <img alt='asdadasdadsa' src="/img/img.jpg">
    </div>

</body>
<footer>
    {{>footer}}
</footer>

</html>