<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="./img/pic.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
    <header>
        {{>header}}

    </header>
<body>
    <div class="main">
        <p>Use este site para ter acesso ao clima de sua cidade
        <form>
        <input placeholder="Localização">
        <button>Buscar</button>
    </form>
    <p id="thiago"></p>
    </div>
    <script src="./js/app.js"></script>
</body>
    <footer>
        {{>footer}}
    </footer>


</html>